ul.slider {
  width: 300px;
  li {
    margin-bottom: 20px;
    h3 {
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      text-align: left;
    } 
    .readmore {
      font-size: 14px;
      float: right;
      text-decoration: underline !important;
      color: #212121;
      padding-top: 2px;
      display: block;
    }   
  }
  a, img, h3 {
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    } 
}


.simpleslider-box {
  display: block;
  position: relative;
  margin-bottom: 40px;
  .move {
    height: 240px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
    ul {
      width: 300000px;
      li {
        float: left;
        display: block;
      }
    }
  }
  .simpleslider-container {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    text-align: center;
    li {
        background-color: #313131;
        border-radius: 30px;
        display: inline-block;
        height: 8px;
        overflow: hidden;
        width: 8px;
        position: relative;
        z-index: 99;
        -webkit-transition: all .2s linear 0s;
        transition: all .2s linear 0s;
        text-indent: -999em;
        margin: 0 5px 0 5px;
        cursor: pointer;
        &.active, &:hover {
          background-color: #e65b5a;
        }
    }
  }
}